
h1 {
    font-family: arial;
}
body {
    margin: 0;
}
             
    #black{
        background-color: black; }
    

    .box {   
        display: inline-block;
        height:100px;
        width:100px;
        margin-right: 50px;
        
}

