
h1 {
    font-family: arial;
}
body {
    margin: 0;
}
      
    #red{
    background-color:red; }          
    #black{
        background-color: black; }

    #gold{
        background-color: #ffd700; }
    

    .bar {   
        height:100px;
        width:500px;
        
}

